<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body style="background-color: #d1d1d1">
    
    {% include 'inc/navbar.html' %}
    <div class="container jumbotron">
    {% include 'inc/messages.html' %}
    {% block content %} {% endblock content %}
    </div>


</body>
</html>